@model Note

@{
    ViewData["Title"] = "Szczegóły notatki: " + Model.Title;
}

<h1>@Model.Title</h1>

<div>
    @foreach (var paragraph in Model.Content.Split("\n"))
    {
        <p>@paragraph</p>
    }
</div>

<div>
    <a asp-action="Index">Powrót do listy notatek</a>
</div>