@model List<Note>

@{
    ViewData["Title"] = "Lista notatek";
}

<h2>Lista notatek</h2>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var note in Model)
        {
            <li>
                <a asp-controller="Exam" asp-action="Details" asp-route-title="@note.Title">@note.Title</a>
            </li>
        }
    </ul>
}
else
{
    <p>Brak ważnych notatek do wyświetlenia.</p>
}